<div class="leftPanel">
    <div class="leftPanel-btn0 header"><img src="images/zjgis.png" style="width: 65px;  "></div>
    <div class="leftPanel-btn data">
        <div class="show-in-active fill-denim" style="with:4px;color: #1b6d85"></div>
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>导入</div>
    <div class="leftPanel-btn mapStyle"><span class="icon-th-large" aria-hidden="true"></span>模板</div>
    <div class="leftPanel-btn edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>编辑</div>
    <div class="leftPanel-btn save"><span class="icon-download-alt" aria-hidden="true"></span>导出</div>
    <div><input type="file" id="files" style="display:none" onchange="imports();"/></div>
</div>