#symbol_panel{
    width: 222px;
    height: 100%;
    position : absolute;
    left: 290px;
}
#symbol_panel .header{
    width: 222px;
    height: 37px;
    background-color: #535353;
    padding-left: 5px;
}
#symbol_panel .header h5{
    margin: 0px;
    line-height: 37px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

#symbol_panel .body {
    margin: 15px;
    line-height: 37px;
    text-align: left;
    font-size: 12px;
    color: white;
}
#symbol_panel .symbol_panel-body {
    height: 100%;
    overflow:auto;
    overflow-x:hidden;
    background-color: #404040;
}
#symbol_panel .symbol_panel-body::-webkit-scrollbar {
    width: 5px;
}
#symbol_panel .symbol_panel-body::-webkit-scrollbar-track {
    background-color:#404040;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
    height: 20px;
}
#symbol_panel .body::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}

#symbol_panel .body input,select{
    background-color: #2D2D2D;
    height: 25px;
    font-size: 10px;
    width: 100%;
    border-width: 0px;
    padding-left: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #c5a347;
}
.symbol_icon_image .symbol-sprite{
    padding-right: 12px;
}
.symbol_icon_image .symbol-sprite:hover{
    cursor:pointer;
}
h5{
    font-size: 12px;
}
#symbol_panel .body input[type="range"] {
    margin-bottom: 20px;
    padding-left: 0px;
    -webkit-appearance: none;
    background-color: #404040;
    border-radius: 2px; /*这个属性设置使填充进度条时的图形为圆角*/
}
#symbol_panel .body input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
/*给滑动轨道(track)添加样式*/
#symbol_panel .body input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 2px; /*将轨道设为圆角的*/
    background: #6a6a6a;
}
#symbol_panel .body input[type="range"]::-moz-range-progress {
    height: 4px;
    border-radius: 2px; /*将轨道设为圆角的*/
    background: #6a6a6a;
}
/*原始的控件获取到焦点时，会显示包裹整个控件的边框，所以还需要把边框取消。*/
#symbol_panel .body input[type="range"]:focus {
    outline: none;
}
/*给滑块(thumb)添加样式*/
#symbol_panel .body input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    margin-top: -3px; /*使滑块超出轨道部分的偏移量相等*/
    background: #b4b4b4;
    border-radius: 50%; /*外观设置为圆形*/
    box-shadow: 0 0 4px #ddd; /*添加底部阴影*/
}
#symbol_panel .header span{
    /*color: white;*/
    padding-left: 5px;
    padding-right: 10px;
}
#symbol_panel .toolclose{
    float: right;
    top: 12px;
    font-size: 12px;
    margin-top: 12px;
    color: #999
}
#symbol_panel .toolclose:hover{
    color: #c3c3c3;
    cursor:pointer;
}
.symbol_text_anchor span{
    padding-left: 10px;
}
.symbol_text_anchor span:hover{
    cursor:pointer;
    color: #BBBBBB;
}
.symbol_text_justify{
    margin-bottom: 25px;
}
.symbol_text_justify span{
    padding-left: 10px;
}
.symbol_text_justify span:hover{
    cursor:pointer;
    color: #BBBBBB;
}
.symbol_text_offset .text_offset1{
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
}
.symbol_text_offset .text_offset2{
    margin-left: 7px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.symbol_text_size .text_size_layer2,.text_size_layer4{
    margin-right: 0px;
}
.symbol_text_size .text_size_layer1,.text_size_layer2,.text_size_layer3,.text_size_layer4{
    margin-left: 10px;
    margin-right: 25px;
}